.container {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  position: relative;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.header {
  background-color: var(--bg-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.main {
  background-color: var(--bg-primary);
  max-width: 1170px;
  padding: 1rem 1rem 7rem;
}

.footer {
  background-color: var(--bg-secondary);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
  padding: 0.5rem;
}

/* tablet ~ desktop */
@media screen and (min-width: 480px) {
  .main {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2rem 8rem;
  }
}
