@import url('./reset.css');
@import url('./prism.css');

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f9fafa;
    --background: #0d1219;
    --content-bg: #1a2634;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #333;
    --background: #f8f8f8;
    --content-bg: #fff;
  }
}

html,
body {
  color: var(--text-color);
  background: var(--background);

  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

a {
  color: #5ec5aa;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
