/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* my variables */
  --bg-primary: #0d1117;
  --bg-secondary: #161b23;
  --text-primary: #fff;
  --text-secondary: #b3b3b3;
  --content-bg-primary: #21262d;
  --content-bg-secondary: #30363d;
  --content-border: #30363d;
  --link: #58a6ff;
  --code: #1e1e1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
    rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
}

html,
body {
  line-height: 1.6;
  overflow-wrap: break-word;
}

a {
  color: var(--link);
  text-decoration: none;
}

/* https://coliss.com/articles/build-websites/operation/css/fixing-smooth-scrolling-with-page-search.html */
html:focus-within {
  scroll-behavior: smooth;
}

/* fix: text-overflow ellipsis not working in nested flexbox */
.static-tweet-header-author {
  min-width: 0;
}
