@import url('./reset.css');

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f6f8fa;
  --text-primary: #24292e;
  --text-secondary: #6a737d;
  --content-bg-primary: #fafbfc;
  --content-bg-secondary: #f3f4f6;
  --content-border: rgba(27, 31, 35, 0.15);
  --link: #0366d6;
  --code: var(--content-bg-primary);
}

[data-theme='dark'] {
  --bg-primary: #0d1117;
  --bg-secondary: #161b23;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --content-bg-primary: #21262d;
  --content-bg-secondary: #30363d;
  --content-border: #30363d;
  --link: #58a6ff;
  --code: #1e1e1e;
}

html,
body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  line-height: 1.6;
  font-size: 15px;
  overflow-wrap: break-word;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

p {
  line-height: 1.9;
}

p > code {
  background-color: var(--code);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.875rem;
  font-family: Menlo, Monaco, 'Courier New', monospace;
}

/* https://coliss.com/articles/build-websites/operation/css/fixing-smooth-scrolling-with-page-search.html */
html:focus-within {
  scroll-behavior: smooth;
}

@media screen and (min-width: 479px) {
  html,
  body {
    font-size: 16px;
  }
}
