.container {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  position: relative;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.header {
  background-color: var(--bg-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.main {
  background-color: var(--bg-primary);
  max-width: 1170px;
  padding: 1rem 1rem 7rem;
}

.sideBar {
  display: none;
}

.sticky {
  top: 2rem;
  position: sticky;
}

.footer {
  background-color: var(--bg-secondary);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
  padding: 0.5rem;
}

.backToHome {
  margin-top: 1rem;
}

/* tablet */
@media screen and (min-width: 479px) {
  .main {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2rem 8rem;
  }

  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
}

/*  desktop ~ */
@media screen and (min-width: 767px) {
  .content {
    flex-direction: row;
  }

  .article {
    width: calc(100% - 272px);
  }

  .sideBar {
    display: block;
    width: 240px;
  }
}
