.container {
  display: inline-block;
}

.headerImage {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

.headerTitle {
  font-weight: 800;
  margin: auto 0.5rem;
}

.pointer {
  cursor: pointer;
}
