.sideBar {
  display: none;
}

/* tablet */
@media screen and (min-width: 479px) {
  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
}

/*  desktop ~ */
@media screen and (min-width: 767px) {
  .content {
    flex-direction: row;
  }

  .article {
    width: calc(100% - 272px);
  }

  .sideBar {
    display: block;
    width: 240px;
  }

  .sideBarItemWrapper > * + * {
    margin-top: 1.25rem;
  }

  .sticky {
    position: sticky;
    top: 2rem;
    overflow-y: auto;
  }
}
