.sideBar {
  display: none;
}

/* tablet */
@media screen and (min-width: 479px) {
  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
}

/*  desktop ~ */
@media screen and (min-width: 767px) {
  .container {
    flex-direction: row;
  }

  .article {
    flex: 1 1 0;
  }

  .sideBar {
    margin-left: 32px;
    flex: 0 0 240px;
    display: block;
  }

  .sideBarItemWrapper > * + * {
    margin-top: 1.25rem;
  }

  .sticky {
    position: sticky;
    top: 2rem;
  }
}
