.container {
}

.cardList {
  display: block;
}

.card {
  padding: 1rem;
  border-top: 1px solid var(--border-color);
}

.card img {
  transition: all 0.5s ease;
}

.card:hover img {
  transform: scale(1.2);
}

.imgWrapper {
  display: none;
}

.imgWrapper img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.lightText {
  color: var(--sub-text-color);
  font-size: 0.75rem;
}

/* tablet */
@media screen and (min-width: 479px) {
  .container {
    padding: 1rem;
  }

  .cardList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }

  .card {
    flex: 0 1 200px;
    display: flex;
    flex-direction: column;
    padding: 0;
    border: none;
  }

  .imgWrapper {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 0.5rem;
    cursor: pointer;
    /* はみ出た部分を非表示 */
    overflow: hidden;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .lightText {
    margin-top: auto;
  }
}
