.cardList {
  list-style: none;
}

.cardList a {
  text-decoration: none;
  outline: none;
}

.listItem:not(:first-child) {
  border-top: 1px solid var(--content-border);
}

.card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgWrapper {
  display: none;
}

.frontmatter {
  margin-top: 0;
}

.meta > div + div {
  margin-top: 0.5rem;
}

.tagsAndDate {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.title:active {
  text-decoration: underline;
}

/* tablet ~ laptop */
@media screen and (min-width: 480px) {
  .cardList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(180px, 100%), 1fr));
    gap: 1.25rem;
  }

  .listItem:not(:first-child) {
    border-top: none;
  }

  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    border: 1px solid var(--content-border);
    border-radius: 0.25rem;
    background-color: var(--content-bg-primary);
    cursor: pointer;
  }

  .card:is(:focus-within, :hover) {
    box-shadow: 0 0 0 0.2rem;
  }

  .card img {
    transition: transform 0.5s ease;
  }

  .card:is(:focus-within, :hover) img {
    transform: scale(1.2);
  }

  .imgWrapper {
    box-shadow: 0 0 1px 1px var(--content-border);
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    border-radius: 0.5rem;
    cursor: pointer;
    /* はみ出た部分を非表示 */
    overflow: hidden;
  }

  .imgWrapper img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .frontmatter {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .title::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .title:active {
    text-decoration: none;
  }
}
