.cardList {
  list-style: none;
}

.cardList a {
  text-decoration: none;
  outline: none;
}

.card {
  border-top: 1px solid var(--content-border);
  padding: 1rem;
}

.card:first-child {
  border-top: 0;
}

.imgWrapper {
  display: none;
}

.meta > * + * {
  margin-top: 0.5rem;
}

.title:active,
.tag:active {
  text-decoration: underline;
}

/* tablet ~ laptop */
@media screen and (min-width: 479px) {
  .cardList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1.25rem;
  }

  .card {
    background-color: var(--content-bg-primary);
    border: 1px solid var(--content-border);
    border-radius: 0.25rem;
    flex: 0 1 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
  }

  .card:first-child {
    border-top: 1px solid var(--content-border);
  }

  .card:is(:focus-within, :hover) {
    box-shadow: 0 0 0 0.2rem;
  }

  .imgWrapper {
    box-shadow: 0 0 1px 1px var(--content-border);
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    border-radius: 0.5rem;
    cursor: pointer;
    /* はみ出た部分を非表示 */
    overflow: hidden;
  }

  .imgWrapper img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .card img {
    transition: transform 0.5s ease;
  }

  .card:is(:focus-within, :hover) img {
    transform: scale(1.2);
  }

  .meta {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .title::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .title:active {
    text-decoration: none;
  }

  .tag {
    position: relative;
  }

  .tag:is(:hover, :focus, :active) {
    text-decoration: underline;
  }
}
