.pre {
  text-align: left;
  margin: 1em 0;
  padding: 0.5em;
  overflow: scroll;
}

.pre.token-line {
  line-height: 1.3em;
  height: 1.3em;
}

.line {
  display: table-row;
}

.lineNo {
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  user-select: none;
  opacity: 0.5;
}

.lineContent {
  display: table-cell;
}
