.pre {
  text-align: left;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 4px;
  overflow: scroll;
  font-size: 14px;
  font-family: Menlo, Monaco, 'Courier New', monospace;
  line-height: 1.9;
}

.line {
  display: table-row;
}

.lineNo {
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  user-select: none;
  opacity: 0.5;
}

.lineContent {
  display: table-cell;
}
