/* ref: https://every-layout.dev/layouts/sidebar/ */
.container {
  --gap: 1rem;

  display: flex;
  flex-wrap: wrap-reverse;
  margin: calc(-1 * var(--gap));
}

.article {
  /* ↓ Grow from nothing */
  flex-basis: 0;
  flex-grow: 999;
  margin: var(--gap);

  /* ↓ Wrap when the elements are of equal width */
  min-inline-size: 60%;
}

.sideBar {
  display: block;
  flex-basis: 15rem;
  flex-grow: 1;
  margin: var(--gap);
}

.sideBarItemWrapper > * + * {
  margin-top: 1.25rem;
}

.sticky {
  position: sticky;
  top: 5rem;
}
