.container {
}

.header {
  padding: 0.5rem;
  background: var(--content-bg);
}

.main {
  max-width: 1170px;
}

.footer {
  padding: 0.5rem;
  background: var(--content-bg);
}

/* tablet ~ desktop */
@media screen and (min-width: 479px) {
  .main {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }
}

.backToHome {
  margin: 1rem;
}
