.container {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  position: relative;
  min-height: 100vh;
}

.container a {
  color: var(--link);
}

.header {
  background-color: var(--bg-secondary);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.main {
  background-color: var(--bg-primary);
  max-width: 1170px;
  padding-bottom: 6rem;
}

.footer {
  background-color: var(--bg-secondary);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
  padding: 0.5rem;
  font-size: 14px;
}

.mention {
  color: var(--text-secondary);
  font-size: 0.75rem;
  padding: 1rem;
}

.backToHome {
  padding: 0 1rem 1rem;
}

/* tablet ~ desktop */
@media screen and (min-width: 479px) {
  .main {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem 6rem;
  }
}
