/* header, main, footer */
.container {
  display: grid;
  grid-template: auto 1fr auto / 1fr;
}

.header {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  padding: 0.5rem;
  background: var(--content-bg);
}

.main {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  max-width: 1170px;
  margin: 1rem auto;
  padding: 0;
}

/* tablet ~ desktop */
@media screen and (min-width: 479px) {
  .main {
    padding: 0 1rem;
  }
}

.footer {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  padding: 0.5rem;
  background: var(--content-bg);
}

/* nav, content */
.main {
  display: grid;
  grid-template: auto 1fr / 1fr;
}

.nav {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  padding: 1rem;
  background: yellow;
  margin-bottom: 0.5rem;
}

.content {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  padding: 1rem 0;
}

.backToHome {
  margin: 3rem 0 1rem;
}
