.container {
  display: inline-flex;
  cursor: pointer;
}

.imgWrapper {
  position: relative;
  width: 3rem;
  height: 3rem;
}

.imgWrapper img {
  border-radius: 9999px;
}

.headerTitle {
  font-weight: 800;
  margin: auto 0.5rem;
}
