.p {
  margin-top: 1rem;
}

.imgWrapper {
  margin: 1rem auto;
}

.img {
  cursor: zoom-in;
}

.h1 {
  font-size: 1.7rem;
  border-bottom: 1px solid var(--content-border);
  padding-bottom: 0.2rem;
  margin: 4rem 0 1rem;
}

.h2 {
  font-size: 1.5rem;
  margin: 3rem 0 1rem;
}

.h3 {
  font-size: 1.3rem;
  margin: 2rem 0 1rem;
}

.h1,
.h2,
.h3 {
  font-weight: 700;
}

.ul {
  list-style: disc;
  padding-left: 2.5rem;
  margin: 1rem 0;
}

.ul p {
  margin: 0;
}

.ol {
  margin: 1rem 0;
}
