@media screen and (min-width: 479px) {
  .tagButtonList {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1rem;
  }

  .tagButtonList a {
    text-decoration: none;
  }

  .tagButton {
    color: var(--link);
    background-color: var(--content-bg-primary);
    border: 1px solid var(--content-border);
    display: inline-block;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 4px 10px;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: cubic-bezier(0.17, 0.67, 0.5, 0.71) 100ms;
  }

  .tagButton:last-child {
    margin-right: 0;
  }

  .tagButton:hover,
  .tagButton:focus {
    background-color: var(--content-bg-secondary);
  }
}
