/* https://codepen.io/haxzie/pen/xxKNEGM */

/* The switch - the box around the slider */
.button {
  background-color: var(--content-bg-secondary);
  border-radius: 4px;
  height: 2.25rem;
  width: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg {
  height: 1rem;
  width: 1rem;
}
