.dark {
  --bg-primary: #0d1117;
  --bg-secondary: #161b23;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --content-bg-primary: #21262d;
  --content-bg-secondary: #30363d;
  --content-border: #30363d;
  --link: #58a6ff;
}

.light {
  --bg-primary: #ffffff;
  --bg-secondary: #f6f8fa;
  --text-primary: #24292e;
  --text-secondary: #6a737d;
  --content-bg-primary: #fafbfc;
  --content-bg-secondary: #f3f4f6;
  --content-border: rgba(27, 31, 35, 0.15);
  --link: #0366d6;
}

.dark,
.light {
}

/* Theme Switch */
/* https://codepen.io/haxzie/pen/xxKNEGM */
/* The switch - the box around the slider */
.switchContainer {
  margin: auto 0;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 34px;

  /* Hide text & Improve accessibility */
  font-size: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
