.toc {
  padding: 1rem;
  font-size: 0.8rem;
  background-color: hsl(var(--muted));
  border-radius: 0.25rem;
}

.toc-list .toc-list {
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.toc-list-item {
  padding-bottom: 0.5rem;
  list-style: none;
}

.toc-list-item:last-child {
  padding-bottom: 0;
}

.toc-link {
  color: hsl(var(--muted-foreground));
}

.is-active-link {
  font-weight: 700;
  color: var(--text-primary);
}
