.rehype-code-titles {
  font-size: 14px;
}

.line-number > span:first-child {
  display: inline-block;
  margin-right: 1.6ch;
  text-align: right;
  user-select: none;
  opacity: 0.6;
}

.anchor {
  position: absolute;
  left: -0.75em;
}

.anchor-text {
  overflow: visible;
  visibility: hidden;
}

.anchor-text::before {
  content: "#";
}

h1,
h2,
h3,
h4,
h5 {
  position: relative;
}

:is(h1, h2, h3, h4, h5):hover .anchor-text {
  visibility: visible;
}

p > code {
  padding: 0.25rem 0.5rem;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 0.875rem;
  background-color: var(--code);
  border-radius: 4px;
}

pre > code {
  display: block;
  width: 0;
}
