* {
	padding: 0;
	margin: 0;
}

html, body {
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Arial, "Yu Gothic", Meiryo, sans-serif  !important;
	font-size: 12px;
}

h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
	font-weight: bold;

}

h1 {
	padding: 0;
	border-bottom-width: 0;
}

h2 {
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 4px;
}

* + h2, *:not(h2) + h3, *:not(h3) + h4 {
	margin-top: 0.5em;
}

ul {
	padding-left: 1.5em;
}

p, li {
	line-height: 1.5;
}

a {
	color: #007BFF;
}

.sb {
	display: flex;
	place-content: center space-between;
}

.sb :nth-child(2) {
	font-style: italic;
	font-weight: normal;
}

.tc {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
