.p {
  margin-top: 1rem;
}

.imgWrapper {
  margin: 1rem auto;
}

.img {
  cursor: zoom-in;
}

.heading {
  font-weight: 700;
}

.heading::before {
  display: block;
  content: ' ';
  margin-top: -4rem;
  height: 4rem;
  visibility: hidden;
  pointer-events: none;
}

.heading:focus {
  outline: none;
}

.h1 {
  font-size: 1.7rem;
  border-bottom: 1px solid var(--content-border);
  padding-bottom: 0.2rem;
  margin-top: 3rem;
}

.h2 {
  font-size: 1.4rem;
  margin-top: 2rem;
}

.h3 {
  font-size: 1.1rem;
  margin-top: 1rem;
}

.ul {
  list-style: disc;
  padding-left: 2.5rem;
  margin: 1rem 0;
}

.ul p {
  margin: 0.5rem 0;
}

.ul li {
  margin: 0.5rem 0;
}

.ol {
  margin: 1rem 0;
}

.footnotes {
  margin: 3rem 0 1rem;
}

/* Code block */
.codeBlock {
  position: relative;
  margin: 1rem auto;
}

.fileName {
  background-color: var(--content-bg-primary);
  color: var(--text-secondary);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25rem 0.5rem;
  border-radius: 4px 0 4px 0;
  font-size: 0.8rem;
  line-height: 1;
}

.pre {
  text-align: left;
  padding: 2rem 1rem 1rem;
  overflow: auto;
  border-radius: 6px 4px 4px 4px;
  line-height: 1.9;
  font-size: 0.875rem;
  font-family: Menlo, Monaco, 'Courier New', monospace;
}

.line {
  display: table-row;
}

.lineNo {
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  user-select: none;
  opacity: 0.6;
}

.lineContent {
  display: table-cell;
  padding-right: 1rem;
}
