.site {
  overflow: hidden;
  position: relative;
}

.inner {
  max-width: 750px;
}

.siteContent {
  padding: 2.5em 4vw 1.66667em;

  @media only screen and (min-width: 801px) {
    margin-left: 30vw;
  }

  @media only screen and (min-width: 1091px) {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  @media only screen and (min-width: 1501px) {
    margin-left: 450px;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.siteMain {
  padding-bottom: 1.66667em;
}
